.flex {
  display: flex;
  padding-bottom: 1em;
}

.justify-center {
  justify-content: center;
}

.pagination-btn {
  padding: 8px 16px;
  margin: 0 4px;
  /* border: 1px solid rgba(227, 242, 253, 1); */
  border-radius: 12px;
  background-color: rgba(227, 242, 253, 1);
  color: #4a5568;
  transition: all 0.2s;
}

.pagination-btn:hover:not([disabled]) {
  /* background-color: rgb(62, 25, 100); */
  opacity: 0.6;
}

.pagination-btn.active {
  background-color: rgba(52, 0, 104, 1);
  color: rgba(227, 242, 253, 1);
  /* border-color: #4299e1; */
}

.pagination-btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}