<div *ngIf="isLoading">
  <app-loader />
</div>

<div *ngIf="!isLoading">
  <h2>{{place.name}}</h2>
  <img src="{{place.image}}" alt="Image of current place">
  <p>Description: {{place.description}}</p>
  <p>Created {{place.createdAt | time}}.</p>
  <p>Located in {{place.city}}.</p>
  
  <!-- Debug info -->
  <div>
    <p>Current user ID: {{userService.user?._id}}</p>
    <p>Place owner ID: {{place._ownerId}}</p>
    <p>Is owner: {{isOwner}}</p>
  </div>
  
  <div class="actions">
    <ng-container *ngIf="isOwner">
      <button class="edit" [routerLink]="['/places/edit', place._id]">Edit</button>
      <button class="delete" (click)="deletePlace()">Delete</button>
    </ng-container>
    
    <button class="like" *ngIf="!isOwner && userService.user">Like</button>
  </div>
</div>