
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  background-color: rgba(227, 242, 253, 1);
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 4em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: rgba(52, 0, 104, 1);
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}

.form-wrapper {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: rgba(52, 0, 104, 1);
  font-weight: 500;
}

.form-control {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  outline: none;
  border-color: rgb(181, 225, 114);
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.error-container {
  margin-top: 6px;
}

.redirect-prompt {
  text-align: center;
  margin-top: 20px;
  color:  rgba(52, 0, 104, 1);
}

.redirect-prompt a {
  color: rgb(44, 123, 98);
  text-decoration: none;
  font-weight: 500;
}

.redirect-prompt a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .form-container {
    padding: 20px;
  }
  
  .submit-btn {
    padding: 10px;
  }
}

.error-box {
  background-color: #fee2e2;
  margin: 10px 0;
}

.error-message {
  background-color: #fee2e2;
  color: #dc2626;
  font-size: 14px;
  padding: 6px;
  margin: 5px 0;
}

.error-text {
  color: #dc2626;
  font-size: 12px;
  margin-top: 4px;
}

input {
  border: 3px solid rgb(44, 123, 98);
}

input.ng-invalid.ng-touched {
  border-color: #ef4444;
}

.error-box {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: rgb(44, 123, 98);
  color: rgba(227, 242, 253, 1);
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  opacity: 0.7;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}