<main>
    <div *ngIf="isLoading"> 
        <app-loader />
    </div> 

    <div *ngIf="!isLoading" class="museum-title"> 
        <div *ngFor="let museum of paginatedMuseums" class="place-container">
            <div class="card">
                <img [src]="museum.image" [alt]="museum.name" style="width:100%">
                <h1>{{museum.name}}</h1>
                <p class="title">{{museum.description}}</p>
                <p [routerLink]="museum._id"><button>More Info</button></p>
            </div>
        </div>
    </div>

    <app-pagination 
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChange($event)"
    ></app-pagination>
</main>
