<main>
    <div *ngIf="isLoading"> 
        <app-loader/>
    </div>

    <div *ngIf="!isLoading" class="place-title"> 

        <div  *ngFor="let museum of museums" class="museum-container">
            <h2>{{museum.name}}</h2>
            <img src="{{museum.img}}" alt="Image of current place">
          
            <p>{{museum.workTime}}</p>
            <p>{{museum.createdAt}}</p>
            <p>{{museum.description}}</p>
            
            <a [routerLink]="museum._id">more</a>
        </div>
    </div>
</main>

