
<main>
    <div *ngIf="isLoading"> 
        <app-loader />
    </div> 

    <div *ngIf="!isLoading" class="place-title"> 

        <div  *ngFor="let place of places" class="place-container">
            <div class="card">
                <img src="{{place.image}}" alt="John" style="width:100%">
                <h1>{{place.name}}</h1>
                <p class="title">{{place.description}}</p>
                
                <p [routerLink]="place._id"><button>More Info</button></p>
              </div>
        </div>
    </div> 

</main>
