
* {
    padding: 0;
    margin: 0;
    background-color: rgb(126, 206, 119);
    background-image: url(./assets/sunset-7682734_1920.jpg)
}


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
