<header>
  <div class="header">
    <a routerLink="/" class="logo">Logo</a>
    <div class="header-right">
      <nav>
        <ul>
          <div *ngIf="!isLoggedIn" class="mini-navbar">
            <a routerLink="/">Home</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
          </div>
          <div *ngIf="isLoggedIn" class="mini-navbar">
            <a routerLink="/places">Places</a>
            <a routerLink="/add-place">New Place</a>
            <a routerLink="/profile">Nasko's Profile</a>
            <a routerLink="/logout" (click)="logout()">Logout</a>
          </div>
        </ul>
      </nav>

    </div>
  </div>
</header>