<header>
  <div class="header">
    <a routerLink="/" class="logo">HOME</a>
    <div class="header-right">
      <nav>
        <ul>
          <div *ngIf="!isLoggedIn" class="mini-navbar">
              <a routerLink="/">Home</a>
              <a routerLink="/places">Places</a>
              <a routerLink="/museums">Museums</a>
              <a routerLink="/auth/login">Login</a>
              <a routerLink="auth/register">Register</a>
          </div>
          <div *ngIf="isLoggedIn" class="mini-navbar">
              <a routerLink="/places">Places</a>
              <a routerLink="/add-place">New Place</a>
              <a routerLink="/museums">Museums</a>
              <a routerLink="/museums/add-museum">New Museum</a>
              <a routerLink="/auth/profile">{{username}}'s Profile</a>
              <a (click)="logout()">Logout</a>
           
          </div>
        </ul>
      </nav>

    </div>
  </div>
</header>