<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/places">Places</a>
      </li>
      <li>
        <a href="/add-place">New Place</a>
      </li>
      <div *ngIf="!isLoggetIn" class="mini-navbar">
      
        <li>
          <a href="/login">Login</a>
      </li>
        <li>
          <a href="/register">Register</a>
      </li>
      </div>
      <div *ngIf="isLoggetIn" class="mini-navbar">
      
        <li>
          <a href="/logout">Logout</a>
      </li>
      </div>
    </ul>
  </nav>
</header>
