<main>

  <form action="action_page.php">
    <div class="container">
      <form class="login-form" [formGroup]="form" (ngSubmit)="register()">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" formControlName="email">
        <ng-container *ngIf="form.get('email')?.touched">
          <p class="errors" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
          <p class="errors" *ngIf="form.get('email')?.errors?.['emailValidator']">Email is ivalid!</p>
        </ng-container>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" formControlName="username">
        <ng-container *ngIf="form.get('username')?.touched">
          <p class="errors" *ngIf="form.get('username')?.errors?.['required']">Username is required!</p>
          <p class="errors" *ngIf="form.get('username')?.errors?.['minlength']">Username must be at least 5 characters!
          </p>
        </ng-container>

        <ng-container formGroupName="passGroup">
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="*********" name="password" id="password" formControlName="password">

          <label for="rePassword"><b>Repeat Password</b></label>
          <input type="password" placeholder="*********" name="rePassword" id="rePassword" formControlName="rePassword">

          <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
            <p class="errors" *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator'] ||
                form.get('passGroup')?.get('rePassword')?.errors?.['required']">Passwords missmatch!</p>
          </ng-container>
        </ng-container>
        <hr>


        <button class="registerbtn" >Register</button>
      </form>
    </div>

    <div class="container signin">
      <p>Already have an account? <a routerLink="/auth/login">Sign in</a>.</p>
    </div>
  </form>
</main>