<div *ngIf="isLoading">
    <app-loader />
</div>

<div *ngIf="!isLoading">
    <h2>{{museum.name}}</h2>
    <img [src]="museum.image" [alt]="museum.name">
    <p>Description: {{museum.description}}</p>
    <p>Created {{museum.createdAt | time}}.</p>
    <p>Work time: {{museum.workTime}}.</p>
    
    <div class="actions" *ngIf="userService.user">
        <ng-container *ngIf="isOwner">
            <button class="edit" [routerLink]="['/museums/edit', museum._id]">Edit</button>
            <button class="delete" (click)="deleteMuseum()">Delete</button>
        </ng-container>
        
        <button class="like" *ngIf="!isOwner">Like</button>
    </div>
</div>